h1 { 
    color: #f7f8f8; 
     font-weight: bold; 
    text-align: center; 
     } 
      
      
     form { 
     text-align: center; 
     } 
     
      
     .Texto_centrado { 
     text-align: center; 
     color: #f7f8f8; 
     } 
      
      
     button { 
     color: #fff; 
     background-color: #0b0b0c; 
     } 

     body { 
        background-color: #2c2d30; 
        } 

     
      
 